<!DOCTYPE html>
<html<% if(config.language){ %> lang="<%= config.language %>" <% } %>>
<%- partial('_partial/head') %>

<body>
	<div class="main-con">

        <%- partial('_partial/nav') %>
        <%- partial('_partial/top',{}, {cache: true}) %>

        <%- body %>
    
        <%- partial('_partial/footer',{}, {cache: true}) %>
        <%- partial('_partial/extend',{}, {cache: true}) %>
	</div>

	<%- js('js/org/jquery.min.js') %>
    <%- js('js/extend.js') %>
</body>
</html>