<div class="column-title fadeToTop">
    <h3><span class="title-info"><%= __('article.tag') %></span> <%= page.tag %></h3>
</div>

<div class="con-wrap fadeToTop">
    <div class="content article-area">
        <% page.posts.each(function(item){ %>
            <%- partial('_partial/article', {item: item}) %>
        <% }) %>
    </div>
    <section class="tool-area">
        <%- partial('_partial/toolbar') %>
    </section>
</div>
<%- partial('_partial/pagination') %>
