<article class="article">
    <div class="article-wrap">
        <% if(is_post()){ %>
            <h2 class="article-title cl">
                <%- item.title ? item.title : __('article.emptyTitle') %>
            </h2>
        <% } else { %>
            <h2 class="article-title cl">
                <a href="<%- config.root %><%- item.path %>" title="<%- item.title ? item.title : __('article.emptyTitle') %>">
                    <%- item.title ? item.title : __('article.emptyTitle') %>
                </a>
            </h2>
        <% } %>

        <ul class="article-extra" style="margin-bottom: <%- theme.article.dateSwitch || theme.article.categoriesSwitch ? '20px' : '0px' %>">
            <% if (theme.article.dateSwitch) { %>
            <li class="article-time">
                <%= item.date.format(config.date_format) %>
            </li>
            <% } %>

            <% if (theme.article.categoriesSwitch) { %>
                <% if (item.categories.data.length > 0) { %>
                <li class="article-category">
                    <ol class="category-list cl">
                        <i class="fa fa-folder-o"></i>
                        <% for (var i=0; i< item.categories.data.length; i++) { %>
                            <% if(!item.categories.data[i].parent) { %>
                            <li><a href="/categories/<%= item.categories.data[i].name %>/"><%= item.categories.data[i].name %></a></li>
                            <% } %>
                        <%}%>
                    </ol>
                </li>
                <% } %>
            <% } %>


        </ul>
        <div class="article-description">
            <%
                var str;
                if(is_post())
                    str = item.content;
                else
                    if(item.excerpt)
                        str = item.excerpt;
                    else
                        str = item.content;
            %>
            <%- str %>
        </div>
        <% if(!is_post()) { %>
            <% if(item.excerpt){ %>
                <a href="<%- config.root %><%- item.path %>" class="more-link"><%= __('article.more') %>...</a>
            <% } %>
        <% } %>
        <% if(is_post()) { %>
        <% if (theme.article.tagSwitch) { %>
        <div class="article-tags">
            <ul class="tags-list cl">
                <%for(var i=0; i< item.tags.data.length; i++){%>
                <li><a href="/tags/<%= item.tags.data[i].name %>/"><i class="fa fa-tag"></i><%= item.tags.data[i].name %></a></li>
                <%}%>
            </ul>
        </div>
        <% } %>
        <div class="article-pagination cl">
        <% if(item.prev){ %>
            <div class="pagination-prev">
                <a href="<%- url_for(item.prev.path) %>"><%- item.prev.title ? item.prev.title : __('article.emptyTitle') %></a>
            </div>
        <% } %>
        <% if(item.next){ %>
            <div class="pagination-next">
                <a href="<%- url_for(item.next.path) %>"><%- item.next.title ? item.next.title : __('article.emptyTitle') %></a>
            </div>
        <% } %>
        </div>

        <% } %>
    </div>
</article>
