<article class="article article-inner cl">
    <% var letter = item.title.substr(0, 1); %>
    <div class="column-head extra-padding" id="<%- theme.ifsparticle ? 'fallEle' : ''%>" style="background-image: url(<%- theme.banner %>)">
        <h2 class="column-title fadeToBottom">
            <%= item.title %>
        </h2>
    </div>
    <div class="article-block">
        <div class="inner-con fadeToTop">
            <div class="article-wrap cl">
                <div class="article-inner-con">
                    <%- item.content %>
                </div>
                <%- partial('_partial/comment') %>
            </div>
        </div>
    </div>
</article>
