<div class="toolbar">
    <div class="widget-search widget">
        <h2 class="widget-title"><i class="fa fa-search"></i> <%= __('search') %></h2>
        <%- search_form({'class':'bar-search','text': __('search')}) %>
    </div>
    <div class="widget-tags widget">
        <h2 class="widget-title"><i class="fa fa-tags"></i> <%= __('tags') %></h2>
        <%- tagcloud({min_font: 10}) %>
    </div>
    <div class="widget-categories widget">
        <h2 class="widget-title"><i class="fa fa-folder-open"></i> <%= __('categories') %></h2>
        <%- list_categories() %>
    </div>
    <div class="light-area"></div>
</div>